body {
    background: rgb(189, 249, 242);

}

#character {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 5px solid black;
}

.door {
    background-image: url("images/door.png");

    width: 100px;
    height: 200px;
    background-size: 100px;

    position: relative;
    left: 100px;
     background-repeat: no-repeat 
}